doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title dotinstall-hamberger-menu
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    .main
      i.fa.fa-bars.show#js-show
      h1 Hello
      - for (var i = 0; i < 10; i++)
        p
          - for (var j = 0; j < 15; j++)
            | Hello World.&nbsp;
    .cover#js-cover
    .menu
      i.fa.fa-times.hide#js-hide
      ul
        - for (var i = 0; i < 5; i++)
          li MENU#{i+1}

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
